html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #FAFAFA;
}

#app {}

.is-desktop #app {}

.is-mobile #app {}

@import '../../src/badge/badge.scss';
@import '../../src/more-or-less/moreOrLess.scss';
@import '../../src/confirmation-input/confirmationInput.scss';
@import '../../src/toggle/toggle.scss';
